<h1 class="title">YOUR MEDICAL BILLS</h1>
<div class="container">
    <div class="row">
        <h2 class="col-sm">Procedures</h2>
        <h2 class="col-sm">Bill Number</h2>
        <h2 class="col-sm">Insurance</h2>
        <h2 class="col-sm">Cost</h2>
    </div>

    {{!-- this file looks like dead code, not used anywhere --}}

    {{#each movies}}
    <div class="row">
        <div class="col-sm">
            <h3><a href="movie/{{this.id}}">{{title}}</a></h3>
        </div>
        <div class="col-sm">
            <h3>{{director}}</h3>
        </div>
        <div class="col-sm">
            <h3>{{releaseDate}} </h3>
        </div>
        <div class="col-sm">
            <h3>${{rating}} </h3>
        </div>
        <div class="col-sm">
            <h3><a href="/movie/delete/{{this.id}}">Delete</a></h3>
        </div>
    </div>
    {{/each}}
</div>



<button><a href="movie/new">Store a new Medical Bill!</a></button>

<button><a href="/">BOOOOT</a></button>