<form action="/medical_bill/update/{{this.id}}?_method=PUT" method="POST">
    <h2>Procedure: </h2>
    <input type="text" name="procedure" id="" value="{{this.procedure}}">
    <h2>Bill Number: </h2>
    <input type="text" name="billNumber" id="" value="{{this.billNumber}}">
    <h2>Insurance: </h2>
    <input type="text" name="insurance" id="" value="{{this.insurance}}">
    <h2>Cost: </h2>
    <input type="text" name="cost" id="" value="{{this.cost}}">
    <div class="input-field">
        <input type="submit" value="Done Editing!" class="btn">
    </div>

</form>