<a href="/">Go Home</a>

<h1>SPECIFIC MEDICAL BILL: </h1>


<h1>Procedure: {{procedure}}</h1>
<h2>Bill Number: {{billNumber}} </h2>
<h2>Insurance: {{insurance}} </h2>
<h2>Cost: {{cost}} </h2>


<a href="/medical_bill/edit/{{_id}}">EDIT TODO</a>